:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  background-color: var(--mainBackgroundColor);
  
  /* Colors of main theme  */
  --mainBackgroundColor: #ebebeb;
  --mainBorderColor: #ACACB7;
  --mainPrimaryColor: #6b2ae6;
  --mainSecondaryColor: #8a5cd3;
  --mainDisabledColor: #c157ff6b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.carousel.carousel-slider .control-arrow {
  opacity: 1;
  
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
